<ion-header>

  <ion-navbar color="primary">
    <ion-title>Log In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="font-app img" padding>
  <div class="text-center">
    <img src="assets/img/logo.png" style="width:50%" alt="">
  </div>



  <div class="text-center">
    <form [formGroup]="loginForm" style="background: transparent" color="form">

      <!--<ion-item color="form">
        <ion-input text-center type="text" placeholder="Username"></ion-input>
      </ion-item>-->
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid email.</p>
      </div>

      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid password.</p>
      </div>


      <button ion-button color="button" block (click)="login()">Log In</button>

    </form>

    <div class="text-center">
      <button ion-button color="fb" block outline class="no-padding">
 <ion-icon class="pull-left fa fa-facebook"></ion-icon>
  <!--<span color="dark" padding style="font-size: 12.5px;
    font-weight: bold;">Log In With Facebook</span>--> Log In With Facebook</button>

      <button ion-button color="google" block outline class="no-padding">
        <ion-icon class="pull-left fa fa-google-plus" ></ion-icon>
        Log In With Google
      </button>


      <button ion-button color="twitter" block outline class="no-padding">
        <ion-icon class="pull-left fa fa-twitter"></ion-icon>
        Log In With Twitter
    </button>
    </div>

    <button ion-button clear>Forgot your password?</button>
    <button ion-button clear (click)="goToSignup()">New User? Sign Up here</button>
  </div>