<ion-header>

  <!--<ion-navbar>
    <ion-title>landing</ion-title>
  </ion-navbar>-->

</ion-header>


<ion-content padding class="tutorial-page img" no-bounce>
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <!--<ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="goToSignup()">Skip</button>
        </ion-buttons>
      </ion-toolbar>-->
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <!--<ion-toolbar>
      </ion-toolbar>-->
      <img src="assets/img/logo.png" class="slide-image" />
      <h2 class="slide-title">Lorem ipsum</h2>
      <!--<button ion-button large clear icon-right color="primary" (click)="goToSignup()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>-->
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col width-50>
        <button color="button" ion-button block (click)="goToLogin()">Login</button>
      </ion-col>
      <ion-col width-50>
        <button color="button" ion-button block (click)="goToSignup()">Signup</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>