<ion-header >

  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding>

  <div class="text-center">
    <img src="assets/img/logo.png" style="width:50%" alt="">
  </div>

  <div class="text-center">
 
    <form [formGroup]="signupForm" >

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="firstName" type="text" placeholder="Firstname"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!signupForm.controls.firstName.valid  && (signupForm.controls.firstName.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid name.</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="lastName" type="text" placeholder="Lastname"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!signupForm.controls.lastName.valid  && (signupForm.controls.lastName.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid name.</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="address" type="text" placeholder="Address"></ion-input>
      </ion-item>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="email"  type="email" placeholder="Email"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid email.</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-label>Date of birth</ion-label>
        <ion-datetime formControlName="dob" displayFormat="MMM/DD/YYYY" pickerFormat="MMM DD YYYY"></ion-datetime>
      </ion-item>
      <div class="no-border" *ngIf="currentYear - signupForm.value.dob.substring(0, 4) < 18 ">
        <p style="color: #ea6153">You must be atleast 18 years old</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter a valid password.</p>
      </div>

      <ion-item color="form" style="color:#020202;">
        <ion-input formControlName="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="signupForm.value.confirmPassword !== signupForm.value.password && signupForm.value.password">
        <p style="color: #ea6153">Password does not match.</p>
      </div>

    </form>
    <button ion-button color="button" block class="font-13 margin-top-lg" (click)="signup()">Sign Up</button>
  </div>
</ion-content>