<ion-tabs color="primary-dark" selectedIndex="2">
  <ion-tab [root]="tab1Root" tabTitle="Active Order" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Orders" tabIcon="flag"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="My Delivery" tabIcon="walk"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>>
