<ion-header>

  <ion-navbar color="primary-light">
    <ion-title>Address List</ion-title>
    <ion-buttons end>
      <button color="button" item-end ion-button (click)="dismiss()">
        Done
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div #map id="map"></div>
  <div text-center>
    <span ion-text text-center color="dark">Address {{1 + addressDetails.length}}</span>
  </div>
  <ion-searchbar style="border-radius: 5px;border: 1px solid darkgray;" [(ngModel)]="autocomplete.query" (ionInput)="search()"
    placeholder="search for addresses">
  </ion-searchbar>
  <ion-list no-margin no-padding>
    <p class="aboveMap" *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
      {{ item.name + ' ' + item.formatted_address }}
    </p>
  </ion-list>
  <ion-input placeholder="nickname" [(ngModel)]="nickname"></ion-input>



  <button ion-button color="button" (click)="addAddress()" block>Add Address</button>

    <ion-list *ngIf="addressDetails.length > 0">
    <ion-item *ngFor="let address of addressDetails; let j = index">
      {{j + 1}}. {{address.nickname}}
      <ion-icon name="close" item-right (click)="removeAddress(j)"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>