<ion-header>

  <ion-navbar color="primary-light">
    <ion-title>Shopping List</ion-title>
    <ion-buttons end>
      <button color="button" item-end ion-button (click)="proceed()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <span ion-text text-center color="dark">Product {{1 + products.length}}</span>
  </div>
  <ion-item>
    <ion-input type="text" [(ngModel)]="productName" placeholder="Describe Product"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <ion-item class="no-padding">
          <ion-label class="font-12">Cost &#8364;</ion-label>
          <ion-input type="number" [(ngModel)]="productCost" placeholder="0" clearOnEdit={{clearOnEdit}}></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <div text-center>
          <button ion-button clear icon-right color="dark" (click)="openCamera(products.length)"><ion-icon style="font-size: 28px" name="camera"></ion-icon></button>
          <button ion-button clear icon-right color="dark" (click)="pickImage(products.length)"><ion-icon style="font-size: 28px" name="image"></ion-icon></button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <button ion-button color="button" (click)="addProduct(productName, productCost, products.length)" block>Add Products</button>

  <ion-list *ngIf="products.length > 0">
    <ion-item *ngFor="let image of products; let j = index">
      {{j + 1}}. {{image.name}}
      <ion-row nowrap>
        <ion-avatar *ngFor="let i of image.images">
          <img src="data:image/png;base64,{{i}}">
        </ion-avatar>
      </ion-row>
      <ion-icon name="close" item-right (click)="removeProduct(j)"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-label>Total estimate budget: &#8364;{{totalEstimate}}</ion-label>
  </ion-item>
</ion-footer>