<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding no-bounce>
  <div text-center>
    <img src="assets/img/demo.png" style="border-radius: 100px;">
    <p text-center class="font-16">Username</p>
  </div>

  <div class="margin-top-lg">

    <button ion-button full color="button" (click)="addAddresses()">Addresses</button>
    <button ion-button full clear color="dark">Notifications</button>
    <button ion-button full clear color="dark">Payments</button>
    <button ion-button full clear color="dark">FAQs and Contact</button>
    <button ion-button full clear color="dark" (click)="logOut()">Sign Out</button>
  </div>
</ion-content>