<ion-header>

  <ion-navbar color="primary-light">
    <ion-title>Create Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding no-bounce>
  <div #map id="map"></div>
    <ion-searchbar style="border-radius: 5px;border: 1px solid darkgray;"
        [(ngModel)]="autocomplete.query" 
   
        (ionInput)="search()" 
        placeholder="Enter shop name & city">
    </ion-searchbar>
    <ion-item *ngIf="submitAttempt && (shopDetails.name == '' || shopDetails.formatted_address == '')">
      <p style="color: #ea6153">Please select a shop</p>
    </ion-item>
  
  <ion-list no-margin no-padding>
    <p class="aboveMap" *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
      {{ item.name + ' ' + item.formatted_address }}
    </p>
  </ion-list>
  <ion-grid>
    <ion-row nowrap>
      <ion-col col-6>
        <ion-card *ngIf="shopDetails.name">
          <img *ngIf="!shopPicture" src="http://placehold.it/300x150" alt="" />
          <img *ngIf="shopPicture" src={{shopPicture}} alt="">
          <div *ngIf="shopDetails.name" style="color:lightgrey" class="card-title">{{shopDetails.name}}</div>
          <div *ngIf="!shopPicture" style="color:black" class="card-subtitle">No Picture Provided</div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <div *ngIf="opening_hours">
          <div text-center *ngIf="openNow" text-center margin style="height:40px; font-size:16px; padding-top:12px; color: yellowgreen">Open Now</div>
          <div *ngIf="opening_hours" style="font-size:10px">
            <div text-center *ngIf="currentDay == 1">{{shopDetails.opening_hours[0]}}</div>
            <div text-center *ngIf="currentDay == 2">{{shopDetails.opening_hours[1]}}</div>
            <div text-center *ngIf="currentDay == 3">{{shopDetails.opening_hours[2]}}</div>
            <div text-center *ngIf="currentDay == 4">{{shopDetails.opening_hours[3]}}</div>
            <div text-center *ngIf="currentDay == 5">{{shopDetails.opening_hours[4]}}</div>
            <div text-center *ngIf="currentDay == 6">{{shopDetails.opening_hours[5]}}</div>
            <div text-center *ngIf="currentDay == 0">{{shopDetails.opening_hours[6]}}</div>
            
          </div>
          <div *ngIf="opening_hours && searchAttempt">
            <div *ngIf="!openNow" text-center margin style="font-size:16px; color: red">Closed Today</div>
          </div>
        </div>
        <div *ngIf="!opening_hours && !openNow">Timmings not available</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button color="button" (click)="addProducts()" block>Create shopping list</button>

  <ion-grid *ngIf="products">
    <ion-row nowrap *ngFor="let image of products.products">
      <ion-col>
        <p>product {{image.product}} </p>
      </ion-col>
      <ion-col *ngFor="let i of image.images">
        <img src="data:image/png;base64,{{i}}" style="height: 50px">

      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>