page-order-pickup {
    .img{
        // background: -webkit-linear-gradient(#6cf, #09c);
        background: #fafafa;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
    }
    .circle {
        position: absolute;
        bottom: 50px;
        right: 50px;
        width: 70px;
        height: 70px;
        background: white;
        border-radius: 40px;
    }
    div.image:before {
        content:url(http://placehold.it/300x150);
    }


     ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    bottom:35px;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom:15px;
    width: 100%;
    color: #fff;
  }
  .searchbar-ios {
        padding: 0; 
    min-height: 44px;
    border-top: 0.55px solid transparent;
     border-bottom: none; 
     background: none; 
}
}
