<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Deliveries</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding>
  <div *ngFor="let item of userDeliveries$ | async">

    <div text-center>
      <ion-item>
        <p text-center class="font-16">{{ item?.shop.name}}</p>
        <ion-row>
          <ion-col width-50>
            <p text-left class="font-16">Earn ${{ item?.reward}}</p>
          </ion-col>
          <ion-col width-50>
            <p text-right class="font-16">Budget ${{ item?.cost}}</p>
          </ion-col>
        </ion-row>
        <div *ngIf="item?.delivery_time.anyTime">
          <p text-center class="font-16">Delivery Time: Anytime until {{item?.delivery_time.anyTime}}</p>
        </div>
        <div *ngIf="item?.delivery_time.betweenTimeOne">
          <p text-center class="font-16">Delivery Time: Between {{item?.delivery_time.betweenTimeOne}} and {{item?.delivery_time.betweenTimeTwo}}</p>
        </div>
        <ion-row>
          <ion-col width-50>
            <button ion-button outline block color="dark" (click)="viewDetails(item)">View</button>
          </ion-col>
          <ion-col width-50>
            <button ion-button outline block color="dark">Offer</button>
          </ion-col>

        </ion-row>
      </ion-item>
    </div>
  </div>
</ion-content>