<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="button" (click)="saveChanges()">
        Save changes
      </button>
    </ion-buttons>
    <ion-title>Edit Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header text-center>
      Order
    </ion-list-header>
    <ion-item>
      <ion-label fixed>Reward</ion-label>
      <ion-input [(ngModel)]="reward"></ion-input>
    </ion-item>

    <ion-list-header text-center>
      Delivery Time
    </ion-list-header>

    <ion-item *ngIf="anyTime">
      <ion-label fixed>Anytime unitl</ion-label>
      <ion-datetime [(ngModel)]="anyTime" displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="betweenTimeOne">
      <ion-label fixed>From time</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm" [(ngModel)]="betweenTimeOne"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="betweenTimeTwo">
      <ion-label fixed>To time</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm" min="{{betweenTimeOne}}" [(ngModel)]="betweenTimeTwo"></ion-datetime>
    </ion-item>
    
    <div *ngFor="let product of products; let i = index">
      <ion-list-header text-center>
        Product {{i + 1}}
      </ion-list-header>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input value="{{product.name}}" [(ngModel)]="product.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Cost</ion-label>
        <ion-input value="{{product.cost}}" [(ngModel)]="product.cost"></ion-input>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<!--<ion-footer>
  <button ion-button block (click)="saveChanges()">Save Changes</button>
</ion-footer>-->