<ion-header>

  <ion-navbar color="primary-light">
    <ion-title>My Orders</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="orderStatus">
      <ion-segment-button value="active">
        Active
      </ion-segment-button>
      <ion-segment-button value="in_process">
        In Process
      </ion-segment-button>
      <ion-segment-button value="finished">
        Finished
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class="img font-app" padding no-bounce>
  <div [ngSwitch]="orderStatus">
    <div *ngSwitchCase="'active'">

      <div *ngFor="let item of userOrders$ | async">

        <div text-center *ngIf="item?.status === 'active'">
          <ion-item>
            <p text-center class="font-16">{{ item?.shop.shop_name}}</p>
            <ion-row>
              <ion-col width-50>
                <p text-left class="font-16">Earn ${{ item?.reward}}</p>
              </ion-col>
              <ion-col width-50>
                <p text-right class="font-16">Budget ${{ item?.cost}}</p>
              </ion-col>
            </ion-row>
            <div *ngIf="item?.delivery_time.anyTime">
              <p text-center class="font-16">Delivery Time: Anytime until {{item?.delivery_time.anyTime}}</p>
            </div>
            <div *ngIf="item?.delivery_time.betweenTimeOne">
              <p text-center class="font-16">Delivery Time: Between {{item?.delivery_time.betweenTimeOne}} and {{item?.delivery_time.betweenTimeTwo}}</p>
            </div>
            <ion-list>
              <ion-item *ngFor="let image of item.products; let j = index">
                {{j + 1}}. {{image.name}}
                <ion-row nowrap>
                  <ion-avatar *ngFor="let i of image.images">
                    <img src="data:image/png;base64,{{i}}">
                  </ion-avatar>
                </ion-row>
                <!--<ion-icon name="close" item-right (click)="removeProduct(j)"></ion-icon>-->
              </ion-item>

            </ion-list>
            <ion-row>
              <ion-col width-50>
                <button ion-button outline block color="primary" (click)="editOrder(item.uid)">Edit</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button outline block color="primary" (click)="deleteOrder(item.uid)">Delete</button>
              </ion-col>

            </ion-row>
          </ion-item>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'in_process'">
      <div *ngFor="let item of userOrders$ | async">

        <div text-center *ngIf="item?.status === 'in_process'">
          <ion-item>
            <p text-center class="font-16">{{ item?.shop.shop_name}}</p>
            <ion-row>
              <ion-col width-50>
                <p text-left class="font-16">Earn ${{ item?.reward}}</p>
              </ion-col>
              <ion-col width-50>
                <p text-right class="font-16">Budget ${{ item?.cost}}</p>
              </ion-col>
            </ion-row>
            <div *ngIf="item?.delivery_time.anyTime">
              <p text-center class="font-16">Delivery Time: Anytime until {{item?.delivery_time.anyTime}}</p>
            </div>
            <div *ngIf="item?.delivery_time.betweenTimeOne">
              <p text-center class="font-16">Delivery Time: Between {{item?.delivery_time.betweenTimeOne}} and {{item?.delivery_time.betweenTimeTwo}}</p>
            </div>
          </ion-item>
          <ion-list>
            <ion-item *ngFor="let image of item.products; let j = index">
              {{j + 1}}. {{image.name}}
              <ion-row nowrap>
                <ion-avatar *ngFor="let i of image.images">
                  <img src="data:image/png;base64,{{i}}">
                </ion-avatar>
              </ion-row>
              <!--<ion-icon name="close" item-right (click)="removeProduct(j)"></ion-icon>-->
            </ion-item>

          </ion-list>
          <!--<ion-row>
              <ion-col width-50>
                <button ion-button outline block color="primary" (click)="editOrder(item.uid)">Edit</button>
              </ion-col>
              <ion-col width-50>
                <button ion-button outline block color="primary" (click)="deleteOrder(item.uid)">Delete</button>
              </ion-col>

            </ion-row>-->

        </div>
      </div>
    </div>
  </div>
  <!--<ion-item>
    <ion-label fixed>Filter:</ion-label>
    <ion-input type="text" placeholder="Last Week"></ion-input>
  </ion-item>-->
</ion-content>