<ion-header>

  <ion-navbar color="primary-light">
    <ion-title>Delivery details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding no-bounce>
  <div #map id="map"></div>
  <!--<ion-input [(ngModel)]="autocomplete.query" placeholder="search for dropoff address" (input)="search()" clearInput={{clearInput}}
    clearOnEdit={{clearOnEdit}} style="color: #db4c14"></ion-input>-->
  <ion-searchbar style="border-radius: 5px;border: 1px solid darkgray;" [(ngModel)]="autocomplete.query" (ionInput)="search()"
    placeholder="Enter delivery address">
  </ion-searchbar>
  <ion-item *ngIf="submitAttempt && (dropoffAddressDetails.name == '' || dropoffAddressDetails.formatted_address == '')">
    <p style="color: #ea6153">Please select a drop off address</p>
  </ion-item>
  <ion-list *ngIf="autocompleteItems.length > 0">
    <ion-item class="aboveMap" *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
      {{ item.name + ' ' + item.formatted_address }}
    </ion-item>
  </ion-list>
  <div>
    <ion-grid>
      <ion-row>
        <!--<ion-col col-2></ion-col>-->
        <ion-col text-center>

          <button ion-button clear icon-right color="dark" (click)="setCurrentLocation()"><ion-icon style="padding-left:0px;" name="locate"></ion-icon></button>
          <p no-padding no-margin text-center>Current location</p>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear icon-right color="dark" (click)="showRadio()"><ion-icon style="padding-left:0px;"  name="arrow-dropdown"></ion-icon></button>
          <p no-padding no-margin text-center>Address list</p>
        </ion-col>
        <!--<ion-col col-2></ion-col>-->
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <form style="background: transparent" color="form" [formGroup]="orderForm">

      <!--<h6 style="text-align: center">Choose delivery time</h6>-->
      <form [formGroup]="deliveryTimeType">
        <div radio-group formControlName="deliveryTimeType">
          <div radio-group>
            <ion-grid>
              <ion-row nowrap>
                <ion-col>
                  <ion-item style="border: 1px solid">
                    <ion-radio (ionSelect)="radioSelect($event)" item-left value="anyTime" checked={{checked}}></ion-radio>
                    <ion-label class="font-11" [class.selected]="timeType == 'anyTime'">Select Time</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item style="border: 1px solid">
                    <ion-radio (ionSelect)="radioSelect($event)" item-left value="specificTime"></ion-radio>
                    <ion-label class="font-11" [class.selected]="timeType == 'specificTime'">Select Time Range</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <ion-item *ngIf="timeType == 'anyTime'" style="color: #020202" color="form" [formGroup]="orderForm">
            <!--<p text-center>From now until {{deliveryTimeType.value.anyTime}}</p>-->
            <ion-label>Now until</ion-label>
            <ion-datetime formControlName="anyTime" min="{{currentHours}}:{{currentMinutes}}" displayFormat="HH:mm" pickerFormat="HH:mm" placeholder="Choose time"></ion-datetime>
          </ion-item>

          <ion-item *ngIf="timeType == 'specificTime'" style="color: #020202" color="form" [formGroup]="orderForm">
            <ion-label>From</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm" min="{{currentYear}}-{{currentMonth}}-{{currentDay}}" formControlName="betweenTimeOne" placeholder="Choose time"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="timeType == 'specificTime'" style="color: #020202" color="form" [formGroup]="orderForm">
            <ion-label>To</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm" formControlName="betweenTimeTwo" min="{{orderForm.controls.betweenTimeOne.value}}" placeholder="Choose time"></ion-datetime>
          </ion-item>

        </div>
      </form>

      <ion-item style="color: #020202" color="form">
        <ion-label style="font-size: 13px;">Delivery person reward &#8364;</ion-label>
        <!--<ion-icon item-right name="logo-euro"></ion-icon>-->
        <ion-input type="number" formControlName="reward" [class.invalid]="!orderForm.controls.reward.valid && (orderForm.controls.reward.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item color="form" *ngIf="!orderForm.controls.reward.valid  && (orderForm.controls.reward.dirty || submitAttempt)">
        <p style="color: #ea6153">Please enter reward points.</p>
      </ion-item>

    </form>

  </div>

  <button ion-button block color="button" (click)="addOrder()">Place Order</button>

</ion-content>