page-order-dropoff {
    .img{
        // background: -webkit-linear-gradient(#6cf, #09c);
        background: #fafafa;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
    }
    ion-card {
        position: relative;
        text-align: center;
    }

  .card-title {
    position: absolute;
    bottom:35px;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom:15px;
    width: 100%;
    color: #fff;
  }
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0;
    }
  .selected {
        color: #7faaf8 !important;
        // background-color: #7faaf8;
    }
    .searchbar-ios {
     padding: 0; 
    min-height: 44px;
    border-top: 0.55px solid transparent;
     border-bottom: none; 
     background: none; 
}
}
