<ion-header>

  <ion-navbar color="primary-light">
    <ion-title>Active Orders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding no-bounce>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--<ion-item>
    <ion-label fixed>Filter:</ion-label>
    <ion-input type="text" placeholder="Destination Zip Code"></ion-input>
  </ion-item>-->
  <div *ngFor="let item of orders">

    <div *ngIf="item?.status == 'active'">

      <div text-center>
        <ion-item>
          <p text-center class="font-16">{{ item?.shop.shop_name}}</p>
          <ion-row>
            <ion-col width-50>
              <p text-left class="font-16">Earn ${{ item?.reward}}</p>
            </ion-col>
            <ion-col width-50>
              <p text-right class="font-16">Budget ${{ item?.cost}}</p>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-icon name="navigate" item-left></ion-icon>
            <p text-center>{{item.delivery_address.address}}</p>
          </ion-item>
          <div *ngIf="item?.delivery_time.anyTime">
            <!--<p text-center class="font-16">Delivery Time: Anytime until {{item?.delivery_time.anyTime}}</p>-->
            <ion-item style="border-bottom: 0px !important;">
              <ion-icon text-center name="time" item-left></ion-icon>
              <p text-center class="font-16">Delivery until {{item?.delivery_time.anyTime}}</p>
            </ion-item>
          </div>
          <div *ngIf="item?.delivery_time.betweenTimeOne">
            <ion-item style="border-bottom: 0px !important;">
              <ion-icon text-center name="time" item-left></ion-icon>
              <p text-center class="font-16">Delivery Between {{item?.delivery_time.betweenTimeOne}} and {{item?.delivery_time.betweenTimeTwo}}</p>
            </ion-item>
          </div>
          <ion-row>
            <ion-col width-50>
              <button ion-button outline block color="dark" (click)="viewDetails(item)">View Order</button>
            </ion-col>
            <ion-col width-50>
              <button ion-button outline block color="dark" (click)="deliver(item.uid, item.buyer.buyer_id, item)">Deliver</button>
            </ion-col>

          </ion-row>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>