<ion-header>

  <ion-navbar color="primary-light">
    <ion-title>Order Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="img font-app" padding>
  <div text-center>
    <ion-item>
      <p text-center class="font-16">{{order.shop.shop_name}}</p>
      <ion-row>
        <ion-col width-50>
          <p text-left class="font-16">Earn ${{order.reward}}</p>
        </ion-col>
        <ion-col width-50>
          <p text-right class="font-16">Budget ${{order.cost}}</p>
        </ion-col>
      </ion-row>
      <div *ngFor="let product of order.products; let i = index">
        <p text-left class="font-16"> product {{i+1}}: {{product.name}}</p>
      </div>
      <div *ngIf="order.delivery_time.anyTime">
        <p text-center class="font-16">Delivery Time: Anytime until {{order.delivery_time.anyTime}}</p>
      </div>
      <div *ngIf="order.delivery_time.betweenTimeOne">
        <p text-center class="font-16">Delivery Time: Between {{order.delivery_time.betweenTimeOne}} and {{order.delivery_time.betweenTimeTwo}}</p>
      </div>
      <br>
      <p text-center class="font-16">Pickup address</p>
      <p class="font-16"> {{order.shop.shop_name + ' ' + order.shop.address}}</p>
      <p text-center class="font-16">Delivery address</p>
      <p class="font-16"> {{order.delivery_address.name + ' ' + order.delivery_address.address}}</p>
      <ion-row>
        <ion-col width-50>
          <button ion-button outline block color="primary">Report</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button outline block color="primary">Deliver</button>
        </ion-col>

      </ion-row>
    </ion-item>
    <div *ngFor="let product of order.products">
      <p>{{product.name}} </p>
      <div *ngFor="let image of product.images">
        <img src="data:image/png;base64,{{image}}">
      </div>
    </div>
  </div>
</ion-content>